{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Forgot Password</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="{% static './plugins/toastr/css/toastr.min.css' %}" rel="stylesheet">
</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    
    <!--<div>
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: lightgreen;">
                <center><strong><h5>{{message}}</h5></strong></center> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor  %}
    </div>-->
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div>
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="background-color: #e8554b;">
                        <center><strong><h5>{{message}}</h5></strong></center> 
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor  %}
            </div>
        </div>
    </div>



    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <center><a class="navbar-brand" href="../" style="font-size: 36px;" ><img style="width: 50px; height:50px; margin-right:20px;" src="{% static 'assets/logo.png' %}">&nbsp;Magnus Library</a></center>
        
                                <form class="mt-5 mb-5 login-input" action="forgotPassword" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Enter registered Email" name="forgotEmail">
                                    </div>
                                    <button type="submit" class="btn login-form__btn submit w-100">Get Credentials</button>
                                </form>
                                <center><p class="mt-5 login-form__footer">Don't have account? <a href="register" class="text-primary" style="font-size:medium;">Sign Up</a> now</p></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    <!--<div>
        {% for message in messages %}
        <script>
            var x = '{{message}}';
            alert(x);
        </script>
        {% endfor  %}
    </div>



    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'plugins/common/common.min.js' %}"></script>
    <script src="{% static 'js/custom.min.j' %}s"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/gleek.js' %}"></script>
    <script src="{% static 'js/styleSwitcher.js' %}"></script>
    <!-- Toastr -->
    <script src="{% static 'plugins/toastr/js/toastr.min.js' %}"></script>
    <script src="{% static 'plugins/toastr/js/toastr.init.js' %}"></script>

</body>





</html>





